:root {
    --body-bg: #efecec;
    --header-bg: #f6f2f2;
    --block-bg: rgb(233, 229, 229);
}
body {
    background: var(--body-bg);
}

.top-header {
    background: var(--header-bg);
    /*padding-bottom: 5px;*/
    width: 100vw;
}
.top-header > .logo {
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 10px;
    float: left;
}
main {
    padding-top: 90px;
    height: 2000px;
}

form.registration, form.authorisation {
    background: var(--block-bg);
    padding: 15px;
    border-radius: 10px;
}
form.registration > h2 {
    text-align: center;
}