:root {
    --body-bg: #efecec;
    --header-bg: #f6f2f2;
    --block-bg: rgb(244, 244, 244);
    --secondary-text: rgb(130, 130, 130);
    --border: #000000 solid 1px;
    --adobe-red: #ff0000;
    --darker-red: #C20000;
}
body {
    background: var(--body-bg);
    font: "Times New Roman", serif;
}

h2 {
    margin-bottom: 15px;
}

.cont-block {
    background-color: var(--block-bg);
}

.top-header {
    background: var(--header-bg);
    /*padding-bottom: 5px;*/
    width: 100vw;
    z-index: 100;
    /* border-bottom: var(--border); */
}
.top-header > .logo {
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 10px;
    float: left;
}
.top-header > .logo > span {
    color: var(--secondary-text);
}

main {
    padding-top: 90px;
    height: 2000px;
}

.info-block {
    background-color: var(--block-bg);
    padding: 15px;
    border-radius: 10px;
    /* border: var(--border); */
}
div.info-block > h2 {
    text-align: center;
}

form.registration, form.authorisation {
    background: var(--block-bg);
    padding: 15px;
    border-radius: 10px;
}
form.registration > h2, form.authorisation > h2 {
    text-align: center;
}

div.card {
    border: none;
}
div.cv-card {
    margin-bottom: 15px;
    max-width: 48%;
    border-radius: 15px;
    /* border: var(--border); */
}
div.cv-card > div > div.col-md-4 {
    background-color: var(--secondary-text);
    border-radius: 15px;
    text-align: center;
    padding: 10px;

}
button.cv-add {
    margin: 10px auto;
}
.btn-action {
    margin: 10px auto;
}
.btn-action, .btn-action > a {
    padding: 0;
    /* border: var(--darker-red) solid 1px; */
    background-color: var(--adobe-red);
    padding: 7px 15px;
    /* font-size: 1.1em; */
    color: white;
    text-decoration: none;
}
.btn-action > a {
    transition: inherit;
    display: block;
    padding: 10px 15px;
}
.btn-action:hover, .btn-action:hover > a {
    background-color: var(--darker-red);
    color: white;
}

.btn-subaction {
    margin: 10px auto;
    border: var(--adobe-red) solid 2px;
}
.btn-subaction:hover {
    background-color: var(--adobe-red);
    color: white;
}

ul.list-group, ul.list-group > li {
    background-color: var(--block-bg);
}